<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
  {% block head %}
    <head>
      {% block title %}
        <title>{{ title|default:'業務課業務システム' }}</title>
      {% endblock title %}

      <meta http-equiv="Content-Language" content="Japanese" />
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <meta name="viewport" content="width=device-width,initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />

      {% block head_css %}
        <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />
        <link rel="stylesheet" href="{{STATIC_URL}}font-awesome-4.4.0/css/font-awesome.min.css">
        <!-- Bootstrap core CSS -->
        <link href="{{STATIC_URL}}bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- autocomplete CSS -->
        <link href="{{STATIC_URL}}css/layout.css" rel="stylesheet">
        <link href="{{STATIC_URL}}css/typeahead.css" rel="stylesheet">
        <link href="{{STATIC_URL}}css/typeahead_extra.css" rel="stylesheet">
        <!-- bootstrap-datepicker -->
        <link href="{{STATIC_URL}}bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
      {% endblock head_css %}

      {% block head_script %}
        <script type="text/javascript" src="{{STATIC_URL}}js/jquery-3.2.1.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/base.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/input-validate.js"></script>
        <!-- Bootstrap core JS -->
        <script type="text/javascript" src="{{STATIC_URL}}bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
        <!-- autocomplete JS -->
        <script type="text/javascript" src="{{STATIC_URL}}js/typeahead.bundle.js"></script>
        <!-- bootstrap-datepicker -->
        <script type="text/javascript" src="{{STATIC_URL}}bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}bootstrap-datepicker/js/bootstrap-datepicker.ja.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/datepicker-default.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/calculate.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/input-support.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/table-display.js"></script>
        <!-- form の動的追加ができないため一旦コメントアウト -->
        <!-- form management -->
        <!--
        <script type="text/javascript" src="{{STATIC_URL}}js/form-management.js"></script>
        -->
      {% endblock head_script %}

    </head>
  {% endblock head %}

  {% block body %}
    <body class="fixed-header-body">
      {% block system_header %}
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container header-container" style="">
            <div id="navbar" class="collapse navbar-collapse">
              <a class="navbar-brand" style="color: white;" href="/">業務課業務システム</a>
              <ul class="nav navbar-nav">
                <li class=""><a style="color: white;" href="invoice_processing">支払予定表</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right" style="">
                <li class="">
                  <a href="http://doorway.alpha-grp.co.jp">
                    <img src="http://doorway.alpha-grp.co.jp/base/images/alpha.png">
                  </a>
                </li>
                <li class="">{{ full_name|default:'no name' }}</li>
                <li class="">{{ current_time }}</li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </nav>
      {% endblock system_header %}

      {% block navigation %}
      {% endblock navigation %}

      {% block message_header %}
        {% if messages %}
          <div class="messages">
            <ul class="messages">
              {% for message in messages %}
               <li class="message {{ message.tags }}">{{ message|linebreaks }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      {% endblock message_header %}

      <div class="contents">
        {% block contents %}
          <h3>Contents</h3>
          <p>Overwrite here.</p>
        {% endblock contents %}
      </div>

      {% block message_footer %}
        {% if messages %}
          <div class="messages">
            <ul class="messages">
              {% for message in messages %}
               <li class="message {{ message.tags }}">{{ message|linebreaks }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      {% endblock message_footer %}

      {% block system_footer %}
        <script type="text/javascript" src="{{STATIC_URL}}js/typeahead.js"></script>
        <div class="">&copy; Copyright 2017 by Alpha-International Corporation. All Rights Reserved.</div>
      {% endblock system_footer %}
    </body>
  {% endblock body %}
</html>